@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
}

.thebdy{
    /* background: url(../images/image1.png) no-repeat center center/cover; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);
    height: 70vh;
    width: 100%;
    align-items: center;
    justify-content: center;

    img {
        width: 60%;
        height: 60%;
        aspect-ratio: 1/1;
        position: absolute;
        top: 35%;
        left: 30%;
        transform: translate(-50%, -50%);
    }

}



header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 10px;
    right: 10px;

}
ul{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style-type: none;
    margin: 10px;    
}

.form-container {
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
    grid-column: 2;
    grid-row: 1;
    height: 400px;
    width: 300px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto ;
    overflow: hidden;
}

span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    width: 100px;
    cursor: pointer;
    display: inline-block;
}

form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: 1s;

}

input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px sold #ccc;
}

button {
    width: 100%;
    height: 30px;
    background: #ff523b;
    border: none;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    margin: 10px 0;
}

#loginForm{
    left: -300px;
}

#signupForm{
    left: 0;
}

a{
    font-size: 12px;
    text-decoration: none;
    color: #333;
    margin: 10px 0;
    
}

#indicator{
    width: 100px;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    border: none;
    transform: translateX(150px);
    transition: 1s;
}

footer{
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
    h3{
        margin: 10px 0;
    }
    ul{
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin: 10px;

    }
}

@media (max-width: 700px){

    .thebdy {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            height: 50%;
            width: 100%;
            top: 30%;
            left: 50%;
        }
    }
}